<ui5-dialog
  [open]="isOpen"
  [header-text]="servicePageId ? 'Edit Service' : 'New Service'"
  class="w-50"
  state="Information"
>
  <ui5-tabcontainer [collapsed]="isTabCollapsed">
    <ui5-tab text="Info" selected>
      <ui5-bar slot="header" design="Header">
        <ui5-title level="H5" slot="startContent">{{
          servicePageId ? "Edit Service" : "New Service"
        }}</ui5-title>
        <ui5-button
          class="dialogCloser"
          design="Transparent"
          id="closeDialogButton"
          slot="endContent"
          (click)="closeDialog()"
          icon="decline"
        ></ui5-button>
      </ui5-bar>

      <ui5-message-strip
        class="w-100 mt-3"
        design="Critical"
        *ngIf="errorMessage"
      >
        <ui5-icon name="alert" slot="icon"></ui5-icon> {{ errorMessage }}
      </ui5-message-strip>

      <section>
        <div>
          <div>
            <div class="d-flex align-items-center">
              <ui5-label show-colon>Active</ui5-label>
              <ui5-switch
                accessible-name="graphical"
                design="Graphical"
                [checked]="isActive"
              ></ui5-switch>
            </div>

            <!-- Title Field -->
            <div>
              <ui5-label
                style="margin-right: 10px"
                show-colon
                required
                class="block text-sm font-medium text-gray-700"
              >
                Title
              </ui5-label>
              <ui5-input
                class="h-[40px] w-100"
                [(ngModel)]="Service.title"
                placeholder="Enter your Title"
                required
              ></ui5-input>
            </div>

            <!-- Short Description Field -->
            <div>
              <ui5-label
                show-colon
                required
                class="block text-sm font-medium text-gray-700"
              >
                Short Description
              </ui5-label>
              <ui5-textarea
                [(ngModel)]="Service.short_description"
                placeholder="Enter your Short Description"
                required
              ></ui5-textarea>
            </div>

            <!-- Long Description Field -->
            <div>
              <ui5-label
                show-colon
                required
                class="block text-sm font-medium text-gray-700"
              >
                Long Description
              </ui5-label>
              <ui5-textarea
                class="h-[150px] w-full"
                [(ngModel)]="Service.long_description"
                placeholder="Enter your Long Description"
                required
              ></ui5-textarea>
            </div>
          </div>
        </div>
      </section>
    </ui5-tab>

    <!-- Attachments File Uploader Tab -->
    <ui5-tab separator text="Attachments">
      <app-attachments
        #attachmentComponent
        [modelName]="'service-page'"
        [recordId]="servicePageId ? servicePageId.toString() : ''"
        [allowedTypes]="[
          'image/jpeg',
          'image/png',
          'image/webp',
          'application/pdf',
          'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        ]"
        [maxFileSize]="2048"
        [multiple]="true"
      ></app-attachments>

      <!-- <ui5-message-strip
        class="w-100 mt-3"
        design="Information"
        *ngIf="!servicePageId"
      >
        <ui5-icon name="information" slot="icon"></ui5-icon>
        Please save the service page first before uploading attachments.
      </ui5-message-strip> -->
    </ui5-tab>
  </ui5-tabcontainer>

  <ui5-toolbar slot="footer">
    <ui5-toolbar-button
      design="Emphasized"
      [disabled]="loading"
      (click)="insertData()"
      [text]="servicePageId ? 'Update' : 'Submit'"
    ></ui5-toolbar-button>
    <ui5-toolbar-button
      design="Transparent"
      text="Close"
      (click)="closeDialog()"
    ></ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>

<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
