<ui5-dialog [open]="isOpen">
	<ui5-bar slot="header" design="Header">
	  <ui5-title level="H5" slot="startContent">Edit</ui5-title>
	  <ui5-button
		class="dialogCloser"
		design="Transparent"
		id="closeDialogButton"
		slot="endContent"
		(click)="closeDialog()"
		icon="decline"
	  ></ui5-button>
	</ui5-bar>
  
	<section>
	  <ui5-busy-indicator [active]="formloading" delay="100">
		<div>
		<div class="d-flex align-items-center">
        <ui5-label show-colon>Active</ui5-label>
        <ui5-switch
          [checked]="isActive"
          (click)="toggleActive($event)"
        ></ui5-switch>
      </div>
		  <ui5-label show-colon required>Title</ui5-label>
		  <br>
		  <ui5-textarea
		  	class="textAreaQuestion"
			[(ngModel)]="title"
			required
		  ></ui5-textarea>
	  		<br>
		  <ui5-label show-colon required>Short Description</ui5-label><br>
		  <ui5-textarea
		  	class="textAreaAnswer"
			[(ngModel)]="short_description"
		  ></ui5-textarea>
            <br>
            <ui5-label show-colon required>Long Description</ui5-label><br>
            <ui5-textarea
              class="textAreaAnswer"
              [(ngModel)]="long_description"
            ></ui5-textarea>
		</div>
	  </ui5-busy-indicator>
	</section>
  
	<ui5-toolbar slot="footer">
	  <ui5-toolbar-button design="Emphasized" (click)="updateData()" [disabled]="formloading" text="Update"></ui5-toolbar-button>
	  <ui5-toolbar-button design="Transparent" text="Cancel" (click)="closeDialog()"></ui5-toolbar-button>
	</ui5-toolbar>
  </ui5-dialog>
  
 <app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>