<ui5-dialog [open]="isOpen" header-text="Edit" class="w-50" state="Information">
  <!-- <ui5-busy-indicator [active]="formloading" delay="100">
    <div>
      <div class="d-flex align-items-center gap-2">
        <ui5-label show-colon>Active</ui5-label>
        <ui5-switch
          design="Graphical"
          [checked]="isActive"
          (change)="toggleActive($event)"
        ></ui5-switch>
      </div>

      <ng-container>
        <ui5-label show-colon required>Title</ui5-label>
        <ui5-textarea
          class="w-100"
          placeholder="title"
          [(ngModel)]="Service.title"
          required
        ></ui5-textarea>
      </ng-container>

      <ng-container>
        <ui5-label show-colon required>Short Description</ui5-label>
        <ui5-textarea
          class="w-100"
          [(ngModel)]="Service.short_description"
          required
        ></ui5-textarea>
      </ng-container>
      <ng-container>
        <ui5-label show-colon required>Long Description</ui5-label>
        <ui5-textarea
          class="w-100"
          placeholder="long_description"
          [(ngModel)]="Service.long_description"
          required
        ></ui5-textarea>
      </ng-container>

      <div *ngIf="errorMessage" class="text-danger mt-2">
        {{ errorMessage }}
      </div>
    </div>
  </ui5-busy-indicator> -->
  <ui5-tabcontainer [collapsed]="isTabCollapsed">
    <ui5-tab text="Info">
      <ui5-busy-indicator [active]="formloading" delay="100">
        <div>
          <div class="d-flex align-items-center gap-2">
            <ui5-label show-colon>Active</ui5-label>
            <ui5-switch
              design="Graphical"
              [checked]="isActive"
              (change)="toggleAction($event)"
            ></ui5-switch>
          </div>

          <ng-container>
            <ui5-label show-colon required>Title</ui5-label>
            <ui5-textarea
              class="w-100"
              placeholder="title"
              [(ngModel)]="Service.title"
              required
            ></ui5-textarea>
          </ng-container>

          <ng-container>
            <ui5-label show-colon required>Short Description</ui5-label>
            <ui5-textarea
              class="w-100"
              [(ngModel)]="Service.short_description"
              required
            ></ui5-textarea>
          </ng-container>
          <ng-container>
            <ui5-label show-colon required>Long Description</ui5-label>
            <ui5-textarea
              class="h-[150px] w-full"
              placeholder="long_description"
              [(ngModel)]="Service.long_description"
              required
            ></ui5-textarea>
          </ng-container>

          <div *ngIf="errorMessage" class="text-danger mt-2">
            {{ errorMessage }}
          </div>
        </div>
      </ui5-busy-indicator>
    </ui5-tab>
    <ui5-tab separator text="Attachments">
       <div >
        <app-attachments></app-attachments>

</div>
    </ui5-tab>
    <!-- <ui5-tab selected text="Attachments">

    </ui5-tab> -->
  </ui5-tabcontainer>
  <div slot="footer" class="d-flex justify-content-end w-100 gap-2 p-2">
    <ui5-button
      design="Emphasized"
      (click)="updateData()"
      [disabled]="formloading"
    >
      Update
    </ui5-button>
    <ui5-button design="Default" (click)="closeDialog()">Close</ui5-button>
  </div>
</ui5-dialog>

<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
