ui5-dialog {
	width: 555px;
    height: 460px;
}
.textAreaAnswer {
    width: 520px ;
    height: 200px ;
}
.textAreaQuestion {
	width: 520px ;
	height: 50% ;
}

#dialog::part(header),
#dialog::part(footer) {
	padding-inline: 0;
}

ui5-panel {
	border: var(--table-border);
	margin-top: 20px;
}