<div style="height: 100vh">
  <react-analytical-table
    [headerTitle]="'Employee List'"
    [insertTitle]="'New'"
    [button1Text]="'ALL'"
    [button2Text]="'Inactive'"
    [button3Text]="'Active'"
    [apiUrl]="'Faqs?'"
    [alternateRowColors]="true"
    [isInsertData]="true"
    [isSearchFilter]="true"
    [isFilterable]="true"
    [isOdata]="true"
    [model]="faqs"
    [isGroupable]="false"
    [isSortable]="true"
    [isTableTree]="false"
    [isInfiniteScroll]="true"
    [infiniteScrollNumber]="10"
    [minRowsNumber]="15"
    [headerHeight]="30"
    [rowHeight]="30"
    [selectionMode]="'None'"
    [emptyDataText]="'No Data Found'"
    [tableColumn]="tableColum()"
    [selectionMode]="'Single'"
    [rowSelectionBehavior]="'RowOnly'"
    (onEditSelectData)="editFaq($event)"
    (isInsertDataChange)="handleInsertData($event)"
    [refreshTrigger]="refreshTable"
  ></react-analytical-table>
</div>

<app-add-faq [isOpen]="isInsert" (close)="closeAddFaqModal()"></app-add-faq>

<!-- <app-edit-faq
  *ngIf="isEdit"
  [faqId]="selectedFaqId"
  [faqData]="selectedFaqData"
  [isOpen]="isEdit"
  (close)="closeEditFaqModal()"
  (refreshTable)="refreshTable.emit()"
></app-edit-faq> -->
<!-- <app-faq-details
  [faqId]="selectedFaqId"
  [faqData]="selectedFaqData"
  [isOpen]="isDetails"
  (close)="closeFaqDetailsModal()"
></app-faq-details> -->

<ui5-dialog [open]="isDeleteOpen" header-text="Warning" state="Critical">
  <p *ngIf="!isDeleteLoading">Are you sure you want to delete this data?</p>
  <div *ngIf="isDeleteLoading">
    <p>Deleting please wait ...</p>
  </div>

  <div
    slot="footer"
    style="
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      box-sizing: border-box;
    "
  >
    <ui5-button
      (click)="deleteItemConfirm()"
      design="Emphasized"
      style="min-width: 4rem"
      [disabled]="isDeleteLoading"
    >
      Delete
    </ui5-button>
    <ui5-button
      (click)="isDeleteOpen = false"
      style="margin: 0 0 0 0.5rem; min-width: 4rem"
      [disabled]="isDeleteLoading"
    >
      Close
    </ui5-button>
  </div>
</ui5-dialog>
<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
