<ui5-dialog [open]="isOpen" header-text="Details" state="Information">
  <div *ngIf="faqData">
    <div class="d-flex align-items-center">
      <ui5-label show-colon>Avtive</ui5-label>
      <ui5-switch
        accessible-name="graphical"
        design="Graphical"
        disabled
        [checked]="faqData.is_active"
      ></ui5-switch>
    </div>
    <ng-container>
      <ui5-label show-colon>Question</ui5-label>
      <ui5-input
        class="w-100"
        placeholder="Question"
        value="{{ faqData.question }}"
        readonly
      ></ui5-input>
    </ng-container>
    <ng-container>
      <ui5-label show-colon>Answer</ui5-label>
      <ui5-textarea
        class="w-100"
        value="{{ faqData.answer }}"
        placeholder="Answer"
        readonly
      ></ui5-textarea>
    </ng-container>
  </div>

  <div slot="footer" class="d-flex justify-content-end w-100 gap-2 p-2">
    <ui5-button (click)="closeDialog()">Close</ui5-button>
  </div>
</ui5-dialog>
