<div class="tool-layout">
  <ui5-side-navigation #sidenav [collapsed]="collapsed">
    <ui5-side-navigation-item
      text="Home"
      icon="home"
      routerLink="/home"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="Service Page"
      icon="settings"
      routerLink="/service-list"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="Employee"
      icon="employee"
      routerLink="/employee-list"
    ></ui5-side-navigation-item>

    <ui5-side-navigation-item
      text="FAQ List"
      icon="question-mark"
      routerLink="/faq-list"
    ></ui5-side-navigation-item>
     <ui5-side-navigation-item text="Events" icon="calendar">
      <ui5-side-navigation-sub-item text="Local"></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="External Link"
        href="https://hybri.tech/"
        target="_blank"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Others"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>


    <ui5-side-navigation-item text="Demo Dropdwon" expanded icon="form">
      <ui5-side-navigation-sub-item
        text="Add Demo"
        routerLink="home"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Edit Demo"
        routerLink="/"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>

    <ui5-side-navigation-item
      text="User Management"
      slot="fixedItems"
      routerLink="/user-managment"
      icon="key-user-settings"
    ></ui5-side-navigation-item>
  </ui5-side-navigation>
  <div class="content"></div>
</div>
<app-social-media
  [isOpen]="isOpen"
  (close)="this.isOpen = false"
></app-social-media>
