<ui5-dialog [open]="isOpen" header-text="Edit" state="Information">
  <ui5-busy-indicator [active]="formloading" delay="100">
    <div>
      <div class="d-flex align-items-center gap-2">
        <ui5-label show-colon>Active</ui5-label>
        <ui5-switch
          design="Graphical"
          [checked]="isActive"
          (change)="toggleActive($event)"
        ></ui5-switch>
      </div>

      <ng-container>
        <ui5-label show-colon required>Question</ui5-label>
        <ui5-textarea
          style="height: 100px"
          class="w-100"
          placeholder="Question"
          [(ngModel)]="faq.question"
          required
        ></ui5-textarea>
      </ng-container>

      <ng-container>
        <ui5-label show-colon required>Answer</ui5-label>
        <ui5-textarea
          style="height: 200px"
          class="w-100"
          placeholder="Answer"
          [(ngModel)]="faq.answer"
          required
        ></ui5-textarea>
      </ng-container>

      <div *ngIf="errorMessage" class="text-danger mt-2">
        {{ errorMessage }}
      </div>
    </div>
  </ui5-busy-indicator>

  <div slot="footer" class="d-flex justify-content-end w-100 gap-2 p-2">
    <ui5-button
      design="Emphasized"
      (click)="updateData()"
      [disabled]="formloading"
    >
      Update
    </ui5-button>
    <ui5-button design="Default" (click)="closeDialog()">Cancel</ui5-button>
  </div>
</ui5-dialog>

<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
