<div style="height: 100vh">
  <react-analytical-table
    [headerTitle]="Title"
    [insertTitle]="'New'"
    [button1Text]="'ALL'"
    [button2Text]="'Inactive'"
    [button3Text]="'Active'"
    [apiUrl]="'ServicePages?'"
    [alternateRowColors]="true"
    [isInsertData]="true"
    [isSearchFilter]="true"
    [isFilterable]="true"
    [isOdata]="true"
    [model]="ServicePages"
    [isGroupable]="false"
    [isSortable]="true"
    [isTableTree]="false"
    [isInfiniteScroll]="true"
    [infiniteScrollNumber]="10"
    [minRowsNumber]="15"
    [headerHeight]="30"
    [rowHeight]="30"
    [selectionMode]="'None'"
    [emptyDataText]="'No Data Found'"
    [tableColumn]="tableColum()"
    [selectionMode]="'Single'"
    [rowSelectionBehavior]="'RowOnly'"
    [refreshTrigger]="refreshTable"
     (isInsertDataChange)="handleInsertData($event)"
  ></react-analytical-table>
</div>
<app-add-service
[isOpen]="isInsert"
(close)="closeAddModal()"
[refreshTrigger]="refreshTable"
></app-add-service>
