@tailwind base
@tailwind components
@tailwind utilities

$layout-header-height: 45px
$border: 1px solid #e0e0e0
$ps-sm: 5px
$p-sm: 2px
$p-none: 0px !important
$gap-sm: 10px
$gap-s: 5px
$border-none: 0px !important
$logo-width: 80px
$card-sm: 200px
$card-s: 180px
$icon-sm: 2rem
$font-size-m: 30px
$none: none !important
$modal-m-h: 600px
$user-popover-w: 290px
$I18N-select-width: 100px
$insert-modal-width: 400px
$blue-icon: rgb(100, 121, 255)
$array-table-height: 42vh
$array-table-height-l: 41vh
$array-table-height-m: 40vh
$array-table-height-sm: 38vh
$w-100: 100% !important
$w-99: 99% !important
$w-50: 50% !important
$h-50: 50vh !important
$h-60: 60vh !important
$w-L: 60% !important
$-m-1: -1rem !important
$m-auto: auto !important
$main-content-height: calc(100vh - 50px)
$side-nav-height: calc(100vh - 50px)
$grid-table-height: calc(100% - 43px)
$custom-grid-table-height: calc(100vh - 55px)
$grid-table-toolbar-height: 50px
$modal-m-w: 400px
$c-pointer: pointer
$content-bg: rgb(233, 233, 233)
$notificationsPopover-width: 400px
$notificationsPopover-max-height: 50vh

body
  margin: $p-none
  padding: $p-none
  font-family: Arial, sans-serif

ui5-notification-list 
  width: calc(100% + 2rem)
  margin-left: -1rem
  margin-right: -1rem

.ui5-tab
  width: calc(100% + 4rem)
  margin-left: -2rem
  margin-right: -2rem
  margin-bottom: -2rem
  position: relative 
  top: -16px

ui5-tabcontainer
  height: 50vh

.ui5-xl-without-tab
  width: 20%

.table-toolbar
  height: 40px !important
  border: $border
  background-color: white !important

.analytical-custom-table
  border: 1px solid #dbdbdb !important